*~
*.o
*.a
*.so
*.dylib
*.jnilib
*.class
.classpath
.project
*.jar
build/*
compile-*
scripts/*.sh
install/*
.idea/
*.iml
*.log
target/*
.settings
.metadata/*
bin/*
*.suo
*.sdf
*.opensdf
*.ipch
*.tlog
*.ilk
*.exe
*.ipch
*.obj
make.dependencies
*.pdb
.lastbuildstate
*.idb
*.lib
*.obj.enc
*.iobj
*.ipdb
*.pch
*.psess
*.diagsession
src/cpp/ScapiCpp/x64/Release/config_for_test.txt
src/cpp/scapi_tests/config_for_test.txt
